.body{
	background-color:rgba(0,0,0,0.75);
	width:80%;
	max-height:9999px;
	position:absolute;
	left:10%;
	padding:30px;
}





.name{
	  color:white;
      font-family:Berlin Sans FB Demi;
	  font-size:32px;
	  text-align:right;
	  position:relative;
	  right:40px;
}
  
.addtext{
	
    color:white;
	font-family:Comic Sans MS;
}


.click{
	
	border-radius:8px;
	border-color:black;
	height:40px;
	background:black;
	color:white;
	position:absolute;
	right:100px;
	bottom:230px !important;
}

.click:hover{
	
	background-color:darkcyan;
	transition:all 0.5s;
	
}

.addtext{
	
	max-width:40%;
	position:relative;
	bottom:300px;
}




